
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-color: #0f2523;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container{
    max-width: 500px;
    margin: 70px  auto;
    padding: 10px;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-weight: 300;
  font-size: 45px;
  color: white;
}

 
.navbar {
  background-color: #f8bc08 !important;
}

.nav-item {
  margin-top: -15px;
  border: transparent;
  background-color:transparent;
}

form{
    max-width: 478px;
    margin-top: -30px;
}

.input-field{
   width: 100%;
   padding: 10px;
   font-size: 18px;
   border-radius: 5px;
   outline: rgb(224, 221, 221);
   border: 1px solid rgb(181, 178, 178);
   background-color: rgb(241, 224, 241);
}

.fa-cart-shopping {
    margin-right: 10px;
    color: rgb(60, 11, 223);
}

input{
    margin-top: 20px;
    padding: 7px;
    border-radius: 5px;
}

.submit-button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #24514e;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

 

.edit-mode{
    color: rgb(68, 67, 67);
}

ul{
    margin-top: 20px;
    display: flex;
    padding: 0px; 
    flex-wrap: wrap;
      
}

.items li {
    display: flex; 
    justify-content: space-between;  
    list-style: none;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 10px 5px;
    width: 45%;
    border: 1px solid #eaa200;
    background-color: #eaa200;
    color: black;
    border-radius: 4px;
    cursor: pointer;
  }


#clear{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #eaa200;
    color: white;
    border: 1px solid #eaa200;
    font-size: 16px;
    cursor: pointer;
}

#filter{
    width: 95%;
    outline: none;
    border-color: transparent;
    border-bottom: 1px solid rgb(181, 178, 178);
    font-size: 18px;
    background-color: transparent;
    margin-top: 40px;
}


#delete{
    outline: none;
    border-color: transparent;
    border: none;
    font-size: 16px;
    color: black;
    right: 0 !important;
    cursor: pointer;
    background-color: rgb(241, 224, 241);
}



  @media (max-width: 500px){
    .items li {
        width: 100%;
    }
    .input-field{
        width: 100%;
    }
    #clear{
        width: 100%;
    }
  }